
#messages .error {
    width: 500px;
    text-align: center;
    background: #e80000;
    border-radius: 25px;
    color: white !important;
    padding: 5px;
    margin: auto auto 10px;
}

@keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

@-webkit-keyframes blink-animation {
    to {
        visibility: hidden;
    }
}

#monthlyBillsTable thead th span {
    font-size: 12px;
}

#monthlyBillsTable thead th:not(.rotate) {
    vertical-align: bottom;
    text-indent: 11px;
}

#monthlyBillsTable thead tr#operations th {
    vertical-align: center;
    text-indent: initial !important;
    text-align: center;
}

#monthlyBillsTable thead tr#operations th button {
    border: 1px #dddddd solid;
    border-radius: unset;
    width: 100%;
}

th.tdBill,
td.tdBill,
div.tdBillWrapper {
    width: 200px;
}

div.tdBillWrapper {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    -ms-text-overflow: ellipsis;
    float: left;
}

th.rotate {
    height: 100px;
    min-width: 40px;
    max-width: 40px;
    position: relative;
    vertical-align: bottom;
    padding: 0;
    font-size: 12px;
    line-height: 0.8;
}

th.rotate > div:first-child {
    position: relative;
    top: 0;
    left: -50px; /* 80 * tan(45) / 2 = 40 where 80 is the height on the cell and 45 is the transform angle*/
    height: 100%;
    -ms-transform: skew(45deg, 0deg);
    -moz-transform: skew(45deg, 0deg);
    -webkit-transform: skew(45deg, 0deg);
    -o-transform: skew(45deg, 0deg);
    transform: skew(45deg, 0deg);
    overflow: hidden;
    margin: auto;
}

th.rotate > div:first-child > span:first-child {
    -ms-transform: skew(-45deg, 0deg) rotate(45deg);
    -moz-transform: skew(-45deg, 0deg) rotate(45deg);
    -webkit-transform: skew(-45deg, 0deg) rotate(45deg);
    -o-transform: skew(-45deg, 0deg) rotate(45deg);
    transform: skew(-45deg, 0deg) rotate(45deg);
    position: absolute;
    bottom: 50%; /* 40 cos(45) = 28 with an additional 2px margin*/
    left: -25px; /*Because it looked good, but there is probably a mathematical link here as well*/
    display: inline-block;
    width: 85px; /* 80 / cos(45) - 40 cos (45) = 85 where 80 is the height of the cell, 40 the width of the cell and 45 the transform angle*/
    text-align: left;
    white-space: nowrap; /*whether to display in one line or not*/
}

th.rotate > div.rotate-override {
    position: absolute;
    bottom: 2px;
    left: 15%;
}

.table-striped-column > thead > tr th:nth-of-type(even) div {
    background-color: #eee;
}

.table-striped-column > tbody > tr td:nth-of-type(even) {
    background-color: #eee;
}

.table-striped > tbody > tr.even {
    background-color: #eee;
}

#monthlyBillsTable th {
    padding: 0;
}

#monthlyBillsTable .totalLbl {
    text-align: right;
    padding-right: 5px;
}

#monthlyBillsTable td.date,
#monthlyBillsTable tfoot th.currency,
#monthlyBillsTable td.currency {
    font: normal normal 400 normal 13px AvenirNext-Regular-Mint, "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-align: right;
}

#monthlyBillsTable td.date {
    text-align: center;
    font-size: 13px;
}

#monthlyBillsTable tfoot th.currency {
    font-weight: bold;
    font-size: 12px;
}


#monthlyBillsTable tfoot th.currency::before,
#monthlyBillsTable td.currency::before {
    font-weight: normal !important;
    content: "$";
    float: left;
    color: #b4b4b4;
}

#monthlyBillsTable tfoot th {
    padding: 8px 11px;
    text-align: right;
}

#monthlyBillsTable thead th.bill-tac-calc_month_picker {
    align-content: center;
}

#monthlyBillsTable tr.paid-in-full td,
#monthlyBillsTable tr.paid-in-full td div:not(.mint-popover) {
    color: rgba(51, 51, 51, .5);
}

#bill-tac-calc_section .ui-datepicker-inline {
    padding: 0 50px 0 50px;
    margin: auto;
    color: #333 !important;
    width: 40%;
    background: 0 0;
    font-family: "AvenirNext-Regular-Mint", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
}

#bill-tac-calc_section .ui-datepicker .ui-datepicker-month {
    font-family: "AvenirNext-DemiBold-Mint", "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
}

#bill-tac-calc_section .ui-datepicker-prev,
#bill-tac-calc_section .ui-datepicker-next,
#bill-tac-calc_section .ui-datepicker-header {
    color: #333 !important;
}

#bill-tac-calc_section .ui-datepicker .ui-datepicker-header {
    padding: 0;
}

#bill-tac-calc_section .ui-datepicker .ui-datepicker-prev .ui-icon,
#bill-tac-calc_section .ui-datepicker .ui-datepicker-next .ui-icon {
    background-image: url(//images.mint.com/web-client/images/icons/mint/icon-arrows-leftright-gray3.svg);
    cursor: pointer;
}

#bill-tac-calc_section .ui-datepicker .ui-datepicker-prev .ui-icon {
    background-position: -2px center
}

#bill-tac-calc_section .ui-datepicker .ui-datepicker-next .ui-icon {
    background-position: -13px center;
}


#bill-tac-calc_section .ui-datepicker-calendar {
    padding: 0;
    display: none;
}

#bill-tac-calc_section .bill-calc-note {
    float: right;
    text-decoration: none;
}

#bill-tac-calc_section .autopay-check {
    width: 100%;
    text-align: center;
    color: #266B36;
}

#bill-tac-calc_section .calc_paid {
    color: #266B36;
    font-weight: bold !important;
    font-size: 12px !important;
}

#bill-tac-calc_section th.col_separator div,
#bill-tac-calc_section td.col_separator {
    padding: 0;
    margin: 0;
    background-color: #797979;
}

#bill-tac-calc_section td.col_separator {
    border-color: transparent;
}

#bill-tac-calc_section th.col_separator {
    min-width: 5px !important;
    max-width: 5px !important;
    width: 5px !important;
}

#bill-tac-calc_section th.col-break div,
#bill-tac-calc_section tr#operations th.col-break,
#bill-tac-calc_section td.col-break {
    border-right: black solid 1px;
}

#bill-tac-calc_section .calc_custom_currency:not([contenteditable=false]) {
    text-align: right;
    min-width: 20px;
    max-width: 120px;
    width: 100%;
    background: transparent;
    border: none;
    border-top: 1px solid transparent;
    border-bottom: 1px dotted #8f8f8f;
}

#bill-tac-calc_section .calc_custom_currency:not([contenteditable=false]):focus {
    border-bottom: 1px solid #797979;
}

.mint-popover.skinny > section {
    padding: 5px;
    text-align: right;
    vertical-align: middle;
    margin: 15px 0 15px 15px;
    color: #fff;
}

.mint-popover.skinny.error > section {
    color: red;
}

.mint-popover.skinny.leftTop i,
.mint-popover.skinny.leftCenter i {
    top: 18px;
}

i.options:hover {
    filter: drop-shadow(0 0 0px #000);

}

.click-focus.track button,
tr:not(.hot-track) .click-focus.track {
    border-right-color: #000 !important;
}

tr.hot-track + tr td,
tr.hot-track td {
    border-top-color: #000 !important;
}

tr.hot-track td {
    background-color: rgba(10, 199, 117, 0.21) !important;
}

tr.hot-track {
    background-color: transparent !important;
}

td.track {
    background-color: rgba(10, 199, 117, 0.21) !important;
}

button.col-op {
    position: relative;

}

button.col-op i {
    position: absolute;
    margin: auto;
    right: 5px;
    top: 32%;
}

button.col-op i.left {
    position: absolute;
    margin: auto;
    left: 5px;
    top: 32%;
}

#export {
    float: right;
    cursor: pointer;
    padding-top: 5px;
    margin-right: 5px
}

#options {
    float: right;
    margin-top: 3px;
    cursor: pointer
}

.calc_custom_currency::selection {
    background: #266B36; /* WebKit/Blink Browsers */
}

.calc_custom_currency::-moz-selection {
    background: #266B36; /* Gecko Browsers */
}